[alias]
  dc = diff --cached
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'
  st = status --short
  ctags = !.git/hooks/ctags
  fixup = commit --fixup
  ignore = update-index --skip-worktree
  notice = update-index --no-skip-worktree
[branch]
  autosetuprebase = always
[commit]
  verbose = true
[color]
  ui = true
[color "diff"]
  meta = yellow
[color "branch"]
  current = cyan bold
  remote = red dim
[color "status"]
  untracked = cyan
[core]
  editor = vim
  excludesfile = ~/.git-ignore
[credential]
  helper = cache --timeout=3600
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[fetch]
  prune = true
[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset
[init]
  templatedir = ~/.git-template
[log]
  date = relative
  decorate = short
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
  keepBackup = false
[push]
  default = simple
[rebase]
  autosquash = true
[user]
  name = Adam Mueller
  email = adam@super.gd
  signingkey = A35082E2BFDEFD68
[github]
  user = adammathys
[rerere]
  enabled = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
