[alias]
  dc = diff --cached
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status --short
  ctags = !.git/hooks/ctags
  fixup = commit --fixup
[branch]
  autosetuprebase = always
[color]
  ui = true
[core]
  editor = vim
  excludesfile = ~/.git-ignore
[credential]
  helper = cache --timeout=3600
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[init]
  templatedir = ~/.git-template
[merge]
  tool = splice
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[push]
  default = simple
[rebase]
  autosquash = true
[user]
  name = Adam Mueller
  email = adam@freerunningtech.com
[github]
  user = adammathys
