[alias]
  dc = diff --cached
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'
  st = status --short
  ctags = !.git/hooks/ctags
  fixup = commit --fixup
  ignore = update-index --skip-worktree
  notice = update-index --no-skip-worktree
[branch]
  autosetuprebase = always
[commit]
  gpgsign = true
  verbose = true
[color]
  ui = true
[color "diff"]
  meta = yellow
[color "branch"]
  current = cyan bold
  remote = red dim
[color "status"]
  untracked = cyan
[core]
  editor = nvim
  excludesfile = ~/.git-ignore
  pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
  helper = cache --timeout=3600
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"
[fetch]
  prune = true
[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset
[init]
  templatedir = ~/.git-template
[log]
  date = relative
  decorate = short
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"
[push]
  default = simple
[rebase]
  autosquash = true
[user]
  name = Adam Mueller
  email = adam@super.gd
[github]
  user = adammathys
[rerere]
  enabled = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[interactive]
  diffFilter = diff-so-fancy --patch
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
