bundler/.bundle/cache

vim/.vim/.netrwhist
vim/.vim/swap/*
vim/.vim/autoload/*
vim/.vim/plugged/*
!vim/.vim/swap/.gitkeep

mpd/.mpd/*
!mpd/.mpd/mpd.conf

mpd/.mpdcron/mpdcron.pid

mpd/.ncmpcpp/error.log

gpg/.gnupg
